*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #113d6f;
}

body{
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #d1e9e8;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(184, 195, 212);
    border: #f4f6f6 5px solid;
    position: relative;
    top: 3vw;
    width:70vw;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #727272;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-bottom: 0.2rem;
    font-size: 3rem;
}
h3{
    margin-bottom: 1rem;
}
h2{
    margin-bottom: 0.8rem;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}

form div{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3rem;
}
form input,form select{
    padding: 0.5rem;
    margin: 3px;
    width: 80%;
    border-radius: 0.5rem;
}

.options fieldset{
    border: none;
    padding: 0;
}
.options legend{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.options label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

button {
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #113d6f;
    border: none;
    cursor: pointer;
    grid-column: span 2;
    margin-top: 1rem;
    width: 60%;
    justify-self: center;
}
label{
    font: weight 5px;
}
footer{
    text-align: center;
    margin-top: 2rem;
}
footer a{
    margin: 0 0.5rem;
    color: #113d6f;
    font-size: 1.5rem;
    text-decoration: none;
}
footer h6{
    margin: 0.5rem;
    color: #113d6f;
    font-size: 0.8rem;
    text-decoration: none;
}
footer hr{
    margin-bottom: 0.5rem;
    border: 0.001px solid #113d6f;
    opacity: 0.3;
}