*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #113d6f;
}

body{
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #d1e9e8;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(184, 195, 212);
    border: #f4f6f6 5px solid;
    position: relative;
    top: 5vw;
    width:70vw;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #727272;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-bottom: 0.2rem;
    font-size: 3rem;
}
h3{
    margin-bottom: 1rem;
}
h2{
    margin-bottom: 0.8rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info{
    padding: 0.3rem;
    display: flex;
    gap: 8rem;
}
.info input, .info select{
    padding: 0.5rem;
}

button {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #113d6f;
    border: none;
    cursor: pointer;
}
label{
    font: weight 5px;
}
footer{
    text-align: center;
    margin-top: 1rem;
}